

.box-shadow{
    box-shadow: 4px 4px 2px 10px black;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.width{
    border: 1px solid black;

    height: 300px;
    width: 100%;
    /* min-width: 500px; */
    /* max-width: 300px; */
}

.list{
    list-style-type: circle;
    /* list-style-position: inside;
    list-style-position: outside;
    list-style-image: url("sqpurple.gif"); */
}