

.relative{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    left: 20px;
    top: 25px;

}

.absolute{
    height: 200px;
    width: 200px;
    background-color: rgb(63, 203, 8);
    position: absolute;
    left: 40px;
    top: 100px;
}

.sticky{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: sticky;
    top: 20px;
}

.fixed{
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
}