/* sandbox start */

/* Media Queries */

/*
320px
576px
768px
992px
1199px
1399px
*/

@media (max-width:1399px){
   
}
@media (max-width:1199px){
   .service_card{
    grid-template-columns: 1fr 1fr;
   }
   .service_card div{
    max-width: 600px;
   }
}
@media (max-width:992px) {
  
    .nav-items{
        display: none;
    }
    .mobile-menu{
        display: block;
        font-size: 20px;
        margin-left: 10px;
    }
    .grow{
        flex-direction: column;
        justify-content: center;
    }
    .grow_text{
        text-align: center;
    }
}
@media (max-width:768px){
    .service_card{
        grid-template-columns: auto;
    }
    .service_card div{
        max-width: 500px;
    }
}
@media (max-width:576px){
   
}
@media (max-width:320px){
   
}

