/* sandbox start */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: #FFF8EE; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    padding: 0;
    list-style-type: none;
}

/* header start */
/* navbar start */
/* container */

.container {
    max-width: calc(95vw - 10vw);
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav-items nav ul {
    display: flex;
}

.nav-items nav ul li a {
    padding: 20px 18px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.807)
}

.selectmenu {
    display: flex;
}

.selectmenu select {
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.807)
}

.mobile-menu {
    display: none;
}

/* <!-- Hero Section Start --> */

.grow {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 1400px; */
    padding: 3rem 1rem;
    /* width: 100%; */
}

.grow_image {
    max-width: 800px;
}

.grow img {
    max-width: 100%;
    height: auto;
    padding: 0px 30px;
}

.grow_text {
    max-width: 600px;
    padding: 0px 30px;
}

.grow_text h1 {
    font-size: 50px;
    line-height: 58px;
    color: #343f52;
    margin-bottom: 25px;
}

.grow_text p {
    color: #60697b;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 36px;
}

.grow_text button {
    background-color: #fab758;
    color: #ffffff;
    line-height: 29px;
    padding: 10px 24px;
    border-radius: 25px;
    border: none;
    font-weight: 700;
}

/* service section start  */

.service_section {
    background-color: #fff;
}

.service {
    padding: 3rem .5rem;
    max-width: 1400px;
    display: block;
    margin: auto;
}

.service_title {
    text-align: center;
    margin: auto;
    max-width: 500px;
}

.service_title h2 {
    color: #aab0bc;
    font-size: 16px;
    margin-bottom: 10px;
}

.service_title h3 {
    font-size: 30px;
    color: #343f52;
    margin-bottom: 30px;
}

.service_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.service_card div {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    padding: 40px;
    border-color: rgba(164, 174, 198, 0.2);
    border-radius: 10px;
    text-align: center;
    line-height: 26px;
    max-width: 350px;
}

.service_card div img {
    max-width: 50px;
    height: auto;
    margin-bottom: .8rem;
}

.service_card div h4 {
    font-size: 20px;
    margin-bottom: .8rem;
    color: #343f52;
}

.service_card div p {
    color: #60697b;
    font-size: 17px;
    margin-bottom: .8rem;
}

.service_card div a {
    font-weight: 600;
}

.service_card div a span {
    font-size: 12px;
}


/* analyze section  */

.analyze_section {
    background-color: #fff;
}

.analyze {
    display: flex;
    padding: 4rem 15px;
    max-width: 1400px;
    margin: auto;
}

.analyze_text {
    max-width: 600px;
    padding: 0px 20px;
}

.hero_head {
    color: #aab0bc;
    font-size: 16px;
    margin-bottom: .8rem;
}

.hero_heading {
    font-size: 38px;
    line-height: 47px;
    margin-bottom: 1.2rem;
    color: #343f52;
}

.hero_text {
    line-height: 28px;
    color: #60697b;
    margin-bottom: 1.8rem;
}

.analyze_input{
    display: flex;
}

.analyze_text input {
    border-radius: 8px 0px 0px 8px;
    padding: 10px 20px;
    border: none;
    outline: none;
}
.analyze_text input:focus{
    border: 1px solid rgba(63,120,224,0.5);
    border-right: none;
}


.analyze_text button {
    color: #ffff;
    background-color: #fab758;
    border: none;
    border-radius: 0px 8px 8px 0px;
    padding: 10px 20px;
}

.analyze_image {
    max-width: 800px;
    padding: 0px 20px;
    order: 1;
}

.analyze_image img {
    max-width: 100%;
    height: auto;
}

/* strategy section */

.strategy_section {
    background-color: #fff;
    margin-bottom: 100px;
}

.strategy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem .5rem;
}

.hero_btn {
    font-size: 17px;
    padding: 12px 24px;
    background-color: #fab758;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-weight: 700;
}

.strategy_text {
    width: 50%;
    padding: 0px 30px;
    flex-grow: 1;
}

.strategy_card {
    width: 50%;
    padding: 0px 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_items {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5rem;
    display: flex;
    max-width: 500px;
}

.card_items2 {
    margin-left: 5rem;
}

.card_items3 {
    margin-left: 3rem;
}

.str_num {
    background-color: #fab65828;
    color: #fab758;
    text-align: center;
    padding: 18px 16px;
    border-radius: 50%;
    margin-right: 15px;
    max-height: 52px;
}

.str_card_text {
    display: flex;
    flex-direction: column;
}

.str_card_text h4 {
    color: #343f52;
    font-size: 20px;
    margin-bottom: .8rem;
}

.strategy-main{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
}


/* -----------------choose */
.choose-section{
    margin-bottom: 80px;
    background-color: #fff;
}

.choose{
    display: flex;
}

.choose_img{
    max-width: 800px;
    padding: 0px 30px;
}

.choose_text{
    max-width: 600px;
    padding: 0px 30px;
}

.choose_text div button{
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: rgb(52, 63, 82);
    line-height: 25px;
}

.choose_text div button span{
    color: #fab758;
    margin-right: 10px;
}

.choose_img img{
    max-width: 100%;
    height: auto;
}

/* --------------our-team-section */

.our-team-section{
    margin-bottom: 80px;
    background-color: #fff;
}

.our_text{
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.our_text h2{
    margin-bottom: .75rem;
    color: #60697ba6;
    font-size: .8rem;
}

.our_text h3{
    margin-bottom: 2.5rem;
    font-size: 2.2rem;
    padding: 0px 10px;
    font-weight: 700;
}

.our_card{
    display: grid;
    gap: 30px;
    padding: 0px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.our-cardItem{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    gap: 15px;
}

.our-cardItem img{
    border-radius: 50%;
    margin-bottom: 1rem;
}

.our-cardItem h4{
    margin-bottom: .25rem;
    font-size: 1rem;
    color: #343f52;
}

.our-cardItem h3{
    color: #aab0bc;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.our-cardItem p{
    color: #60697b;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: .5rem;
}

.our-cardItem ul{
    display: flex;
    justify-content: flex-start;
}
.our-cardItem a{
    margin-right: 20px;
    color: black;
}

/* ---------------solution section */

.solution-section{
    margin-bottom: 100px;
}

.solution{
    display: flex;
    justify-content: center;
}

.solution_img{
    max-width: 800px;
    padding: 0px 20px;
}

.solution_text{
    max-width: 600px;
    padding: 0px 20px;
}

.solution_text2{
    display: flex;
}

.solution_text2 div{
    padding-bottom: 5px;
}

.s_texts{
    display: flex;
}

.s_texts div i{
   padding: 2px 5px;
   background-color: #fab65840;
   color: #fab758;
   border-radius: 50%;
   margin-right: 10px;
}

.solution_img img{
    max-width: 100%;
    height: auto;
}

/*============ community section */

.community{
    display: flex;
    align-items: center;
}

.community_card{
    max-width: 800px;
    padding: 0px 20px;
    margin-bottom: 100px;
}

.community_child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.comm_child_div{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border-radius: 15px;
    padding: 40px;
}

.comm_child_div p{
    color: #60697b;
    line-height: 30px;
    margin-bottom: 1rem;
}

.comm_child_div h5{
    color: #343f52;
    line-height: 28px;
    font-size: 19px;
}

.comm_child_text p{
   margin: 0px;
}

.community_text{
    max-width: 600px;
    padding: 0px 20px;
}

.community_text button{
    background-color: #fab758;
    font-size: 16px;
    color: #ffffff;
    line-height: 29px;
    padding: 10px 24px;
    border-radius: 25px;
    border: none;
    font-weight: 700;
}


/* ---------------------talk section  */

.talk-section{
    margin-bottom: 80px;
    background-color: #fff;
}

.talk{
    display: flex;
}

.talk_img{
    max-width: 800px;
    padding: 0px 30px;
}

.talk_text{
    max-width: 600px;
    padding: 0px 30px;
}

.talk_text button{
    background-color: #fab758;
    font-size: 16px;
    color: #ffffff;
    line-height: 29px;
    padding: 10px 24px;
    border-radius: 25px;
    border: none;
    font-weight: 700;
}

.talk_text div button span{
    color: #fab758;
    margin-right: 10px;
}

.talk_img img{
    max-width: 100%;
    height: auto;
}

/* -------------scroll logo  */

.scroll_logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.scroll_logo div{
    max-width: 233px;
    padding: 10px 20px;
}

.scroll_logo div img{
    max-height: 30px;
    max-width: 100%;
}

/* ----------footer  */

footer{
    background-color: #343f52;
    color: #cacaca;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.footer_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_heading h3{
    font-size: 35px;
    line-height: 47px;
    max-width: 600px;
    color: #ffffff;
}

.footer_heading button{
    background-color: #fab758;
    font-size: 16px;
    color: #ffffff;
    line-height: 29px;
    padding: 10px 24px;
    border-radius: 25px;
    border: none;
    font-weight: 700; 
}

.footer_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer_sec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.footer_sec h4{
    color: #ffffff;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 15px;
    font-weight: 500;
}

.footer_sec img{
    max-width: inherit;
    height: auto;
    margin-bottom: 20px;
}

.footer_sec nav{
    width: 50%;
    justify-content: space-between;
    display: flex;

}

.footer_sec a{
    color: #cacaca;;
    font-weight: 500;
}

.footer_sec p{
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer_items ul{
    margin: 0px;
}
.footer_items ul li{
    margin-bottom: 15px;
}

.footer_sec address{
    padding-right: 10rem;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.footer_input{
    display: flex;
}

.footer_input input{
    background-color: transparent;
    border: 1px solid #60697b80;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.footer_input input:focus{
    outline: none;
    border: 1px solid #fab758;
}

.footer_input button{
    padding: .7rem 1.2rem;
    border: none;
    background-color: #fab758;
    color: #ffffff;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    border-top-right-radius: 5px;
}

.footer_sec a:hover{
    color: #fab758;
}


/* ------------fix button  */

.fix_button{
    position: fixed;
    left: 95%;
    top: 90%;
}

.fix_button span i{
    color: #fab758;
    border: 1px solid silver;
    padding: 10px 13px;
    border-radius: 50%;
}