

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 25% 25% 25%;
    gap: 40px;
}

.item1{
    width: 100%;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 10px;
    max-height: 450px;
}

.card_img{
    width: 100%;
}

.card_img img{
    height: 300px;
    width: 100%;
}

.card_body{
    width: 100%;
    padding: 10px;
}